--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.3.1+cu118
torchaudio==2.3.1+cu118
transformers==4.39.2
huggingface-hub==0.36.2
gradio==5.1.0
numpy==1.26.4
onnxruntime-gpu==1.18.0
omegaconf==2.3.0
opencv-python-headless==4.10.0.84
mediapipe==0.10.14
scikit-image==0.24.0
torchgeometry==0.1.2
ffmpeg-python==0.2.0
soundfile==0.12.1
scipy==1.13.1
insightface==0.7.3
onnx==1.16.1
protobuf==4.25.9
